# --- [ Pastas Básicas do Unity ] ---
[Ll]ibrary/
[Tt]emp/
[Oo]bj/
[Bb]uild/
[Bb]uilds/
[Ll]ogs/
[Mm]emoryCaptures/
[Aa]ssets/AssetStoreTools*

# --- [ Arquivos Gerados pelo Unity ] ---
# Não ignore os .meta; eles são vitais para as referências do projeto
*.csproj
*.unityproj
*.sln
*.suo
*.tmp
*.user
*.userprefs
*.pidb
*.booproj
*.svd
*.pdb
*.opendb
*.IDB
*.VC.db

# --- [ Pastas de Cache e Ferramentas ] ---
# Ignora o cache do Shader Graph e caches de busca
/[Aa]ssets/AddressableAssetsData/*/*.bin*
/[Aa]ssets/StreamingAssets/aa/*
.collabignore

# --- [ IDEs e Editores ] ---
# Visual Studio
.vs/
# JetBrains Rider
.idea/
*.sln.iml
# VS Code
.vscode/

# --- [ SO e Sistema ] ---
.DS_Store
Thumbs.db
desktop.ini

# --- [ Crashlytics / Plugins Externos ] ---
# Se usar Firebase ou Crashlytics, esses arquivos costumam ser gerados
Firebase/*
!Firebase/m2repository/